@model Demo.MVC.Models.Product.ProductCreateViewModel
@{
    ViewData["Title"] = "CreateProduct";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ürün Ekle </h5>

                <form asp-controller="Product" asp-action="CreateProduct" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="mb-3">
                        <label asp-for="ProductName" class="form-label"></label>
                        <input asp-for="ProductName" class="form-control" />
                        <span class="text-danger" asp-validation-for="ProductName"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryID" class="control-label">Kategori</label>
                        <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.categories">
                            <option hidden="" value="" disabled selected>Lütfen kategori seçin</option>
                        </select>
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Price" class="form-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Quantity" class="form-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span class="text-danger" asp-validation-for="Quantity"></span>
                    </div>
@*                    <div class="mb-3">
                        <label asp-for="ImageUrl" class="form-label"></label>
                        <input asp-for="ImageUrl" class="form-control" />
                        <span class="text-danger" asp-validation-for="ImageUrl"></span>
                    </div>*@

                    <div class="mb-3">

                        <label class="form-label" asp-for="Image"></label>
                        <input type="file" asp-for="Image" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-primary">Ürün Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>



